---
import Layout from "../layouts/Layout.astro";
import Subscribe from "../components/Subscribe";
---

<Layout title="cyber_gardener">
  <main class="space-y-10 flex flex-col items-center justify-center">
    <p>hello, cyber gardener</p>
    <Subscribe client:load />
  </main>
</Layout>
